@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');

.luxury-font {
  font-family: 'Playfair Display', serif;
}
.design-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* IMAGE */
.image-wrapper {
  position: relative;
  height: 420px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}

/* DARK OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.2)
  );
}

/* DATE */
.date-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #d4af37; /* gold */
  font-family: serif;
}

.date-badge span {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.date-badge small {
  font-size: 12px;
  letter-spacing: 2px;
}

/* CONTENT */
.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}

.content h3 {
  font-size: 20px;
  margin-bottom: 8px;
  font-family: "Playfair Display", serif;
}

.content p {
  font-size: 14px;
  opacity: 0.7;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #d4af37;
}

/* HOVER EFFECT */
.design-card:hover img {
  transform: scale(1.08);
}

.design-card:hover .overlay {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.3)
  );
}

.design-card:hover .read-more {
  letter-spacing: 4px;
}
/* FEATURED SECTION */
.featured-section {
  padding: 120px 5%;
  background: #0a0a0a;
  text-align: center;
}

/* TITLE */
.featured-header h2 {
  color: #e6d3a3;
  font-size: 32px;
  letter-spacing: 2px;
}

.featured-header .line {
  width: 80px;
  height: 2px;
  background: #e6d3a3;
  margin: 15px auto 50px;
}

/* GRID */
.featured-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.featured-card {
  overflow: hidden;
}

.featured-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: 0.5s;
}

.featured-card:hover img {
  transform: scale(1.05);
}

/* QUOTE */
.featured-quote {
  margin-top: 80px;
}

.featured-quote h3 {
  font-size: 30px;
  color: #e6d3a3;
  margin-bottom: 15px;
}

.featured-quote p {
  color: #aaa;
  max-width: 600px;
  margin: auto;
  line-height: 1.7;
}

/* BUTTON */
.explore-btn {
  margin-top: 30px;
  padding: 12px 30px;
  background: linear-gradient(135deg, #e6d3a3, #c9a96e);
  border: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.explore-btn:hover {
  opacity: 0.8;
}